* {
  box-sizing: border-box;
  opacity: 0.9;
  font-family: Helvetica, Arial, sans-serif;
  color: seashell;
}

body {
  background-color: black;
  font-size: 22px;
  margin: 0;
}

header {
  position: fixed;
  height: 69px;
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid seashell;
  width: 100%;
}
/* main {
  display: flex;
  justify-content: center;
  
} */
nav {
  /* background-color: greenyellow; */
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.links {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin: 10px;
}
.links a {
  color: inherit;
  /* color: seashell; */
}
nav img {
  margin: 10px;
  height: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  height: 700px;
  /* width: 1200px; */
}

.our_mission {
  padding-top: 69px;
  position: relative;
  display: flex;
  justify-content: center;
}
.mission_stripe {
  position: absolute;
  z-index: 1;
  top: 315px;
  background-color: black;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
}
.mission_stripe h4,
.mission_stripe h2 {
  margin: 10px auto;
}
.tea_of_the_month {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.tea_of_the_month h4 {
  margin: 0 auto 30px;
}
.picture_container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.picture_container h5 {
  margin: 10px auto;
}
.picture_container img {
  height: 200px;
  width: 300px;
}



.locations_container {
  height: 500px;
  margin: 50px auto 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.location_container {
  position: absolute;
  top: 40px;
  left: 12px;
  
}
.location_container h2 {
  margin-bottom: 0;
}
.locations_box {
  display: inline-block;
  background-color: black;
  width: 300px;
  margin: 14px 20px;
  
}

footer{
  text-align: center;
  margin: 0px;
  height: 200px;
}
.contact h2{
  margin: 10px;
}
.copyright{
  text-align: left;
  margin: 20px;
  font-size: 1rem;
}